@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
}
.topcategories{
    text-align: center;
}
.categories .col-lg-12 h1{
    font-family: Poppins;
    padding:5% 2% 0% 0%;
}
span{
color:#f9004d;
}
.categories .card p{
    font-family: Poppins;
}
.collec{
    text-align: center;
}
.collec p{
    color:#f9004d;
}

h2{
    font-family: Poppins;
    padding:5% 0%;
    color:#f2c71a;
}
a{
    text-decoration: none;
    color: #f9004d;
}
small{
    color: #f9004d;
}